body {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424449;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.container {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  margin-right: 55px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

input,
textarea {
  min-width: 300px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 15px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  appearance: none;
}

input:focus {
  border-color: #43774a;
  outline: none;
}

.button {
  display: block;
  width: 300px;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 9px 15px;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  transition: background-color 0.2s linear;
  margin-bottom: 15px;
  background-color: #43774a;
}

.button:hover {
  background-color: #b66d6d;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.button:active {
  border: 2px solid #272727;
}
